<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>walktogether.sg - Listen, Serve, Empower, Growth</title>
    </head>
    <body>

        <div  th:fragment="page-header">

            <!-- ***** Preloader Start ***** -->
            <div id="js-preloader" class="js-preloader">
                <div class="preloader-inner">
                    <span class="dot"></span>
                    <div class="dots">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <!-- ***** Preloader End ***** -->

            <!-- ***** Header Area Start ***** -->
            <header class="header-area header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="main-nav">
                                <!-- ***** Logo Start ***** -->
                                <a href="/" class="logo">
                                    <h1>walktogether.sg</h1>
                                </a>
                                <!-- ***** Logo End ***** -->
                                <!-- ***** Serach Start ***** -->
                                <div class="search-input">
                                    <form id="search" action="#">
                                        <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                                        <i class="fa fa-search"></i>
                                    </form>
                                </div>
                                <!-- ***** Serach Start ***** -->
                                <!-- ***** Menu Start ***** -->
                                <ul class="nav">
                                    <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                                    <li class="scroll-to-section"><a href="#services">Services</a></li>
                                    <li class="scroll-to-section"><a href="#courses">Courses</a></li>
                                    <li class="scroll-to-section"><a href="#team">Team</a></li>
                                    <li class="scroll-to-section"><a href="#events">Events</a></li>
                                    <li class="scroll-to-section"><a href="/signup">Register Now!</a></li>
                                </ul>
                                <a class='menu-trigger'>
                                    <span>Menu</span>
                                </a>
                                <!-- ***** Menu End ***** -->
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- ***** Header Area End ***** -->
        </div>
    </body>
</html>h